<div class="block-content">
					<div class="products owl-theme owl-carousel">

						<div class="product-item" *ngFor="let product of featureproducts">
							<div class="row">
								<!-- Left Side: Product Info -->
								<div class="col-md-6 col-xs-12 product-left">
									<div class="product-info">
										<!-- Product Title -->
										<div class="product-title">
											<a [routerLink]="['/product-detail']" [queryParams]="{ id: product.id }">
												{{ product.title }}
											</a>
										</div>

										<!-- Static Rating (customize if needed) -->
										<div class="product-rating">
											<div class="star on"></div>
											<div class="star on"></div>
											<div class="star on"></div>
											<div class="star on"></div>
											<div class="star"></div>
										</div>

										<!-- Product Price -->
										<div class="product-price">
											<span class="sale-price">${{ product.saleprice }}</span>
											<span class="base-price"
												*ngIf="product.baseprice && product.baseprice !== product.saleprice">
												${{ product.baseprice }}
											</span>
										</div>

										<!-- Product Description -->
										<div class="product-intro">
											{{ product.description }}
										</div>

					
									</div>
								</div>

								<!-- Right Side: Product Image -->
								<div class="col-md-6 col-xs-12 product-right">
									<div class="product-image">
										<a [routerLink]="['/product-detail']" [queryParams]="{ id: product.id }">
											<img [src]="product.images[0]" alt="{{ product.title }}" />
										</a>
									</div>
								</div>
							</div>
						</div>


					
					</div>
				</div>